.judul{
    display: table;
}
.rows1{
    display: table-row;
    align-content: center;
}
.cell1{
    background-image: url(moon.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: table-cell;
    opacity: 50%;
    width: 1500px;
    height: 20px;
    padding-top: 20px;
    font-family: "montserrat";
    text-align: center;
    color: white;
    font-size:15px;
}
.table{
    display: table;
}
.rows{
    display: table-row;
}
.cell{
    display: table-cell;
    height: 1000px;
    width: 200px;
;
    background-color: rgb(243, 107, 17);
    font-family: "montserrat";
}
.cell2{
    display: table-cell;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 80px;
    font-family: "made soulmaze";
    background-color: grey;
    height: 500px;
    width: 800px;
}
.cell3{
    background-image: url(background.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: "arial black";color: white;text-shadow: black;
    padding-left: 450px;
    padding-top: 20px;
    padding-right: 450px;
    font-size: 15px;

}
.b{
    background-image: url(images.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.closing{
    display: table;
}
.rows1{
    display: table-row;
    align-content: center;
}
.cell4{
    background-image: url(moon.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: table-cell;
    opacity: 50%;
    width: 1700px;
    padding-top: 20px;
    font-family: "montserrat";
    text-align: center;
    color: white;
    font-size:30px;